.ad-astra {
  background-color: $adastra-section;

  .player-count {
    li {
      background-color: $adastra-player-btn;
      
      display: inline-block;
      padding: 1em 0;
      width: 3em;
      margin: 0 .5em;
      border-radius: .5em;
      
      font-size: 1.5em;

      &.selected {
        background-color: $adastra-player-btn-selected;
      }
    }
  }

  .stars {
    background-color: #000;
    color: #fff;
    
    margin-top: .5em;

    li {
      display: inline-block;
      width: 45%;
      margin: .15em;

      &:nth-child(odd) {
        color: $adastra-red-star;
      }

      &:nth-child(even) {
        color: $adastra-yellow-star;
      }

      &.planet-count {
        color: #fff;
      }
    }
  }
}
