$teal: #028482;
$blue: #054991;
$orange: #FFA500;
$selected-orange: #BF6500;

$adastra-section: #777;
$adastra-header: #301A3A;
$adastra-player-btn: #a70;
$adastra-player-btn-selected: #530;
$adastra-red-star: #c00;
$adastra-yellow-star: #cc0;
